# List & its default funtns:

In [1]:
#List is an ordered collection of elements enclosed with []
#List are mutuable.
#List allows modification in the previous constructed list.

In [5]:
#Modifying a list:-
l=['a','shivi',1,2,3,"sharma"]
for i in l:
  print(i)

a
shivi
1
2
3
sharma

In [6]:
#Appending a new element:-
l.append("Thor")
print(l)
for i in l:
  print(i)

['a', 'shivi', 1, 2, 3, 'sharma', 'Thor']
a
shivi
1
2
3
sharma
Thor

In [7]:
#Poping the last element.
l.pop()
print(l)
for i in l:
  print(i)

['a', 'shivi', 1, 2, 3, 'sharma']
a
shivi
1
2
3
sharma

In [8]:
#Reversing elements of a list.
l.reverse()
print(l)

['sharma', 3, 2, 1, 'shivi', 'a']

In [9]:
#Inserting element at a specified index.
l.insert(1,"msd")
print(l)

['sharma', 'msd', 3, 2, 1, 'shivi', 'a']

# Dictionary & its default functions

In [10]:
#Dictionary is an unordered collection of key-values enclosed with {}.
#Dictionary is mutuable.
#Dictionary allows modification before the created dictionary.

d1={'Shirt':32,'Trousers':44, 'Skirts':28,'Top': 50}
print(d1)

{'Shirt': 32, 'Trousers': 44, 'Skirts': 28, 'Top': 50}

In [11]:
#Extracting keys and values in created dictionaries.
d1.keys()
d1.values()

dict_values([32, 44, 28, 50])

In [16]:
#Changing an existing element:-
d1["Shirt"]=100
print(d1)

{'Trousers': 44, 'Skirts': 28, 'Top': 50, 'Apple': 100, 'Shirt': 100}

In [17]:
# 3-> Poping an element:-
d1.pop("Shirt")
print(d1)

{'Trousers': 44, 'Skirts': 28, 'Top': 50, 'Apple': 100}

In [18]:
#Update one dictionary element with another one:-
d2={"Trousers":80,"Saree":50}
d1.update(d2)
print(d1)

{'Trousers': 80, 'Skirts': 28, 'Top': 50, 'Apple': 100, 'Saree': 50}

# Sets & its default methods

In [19]:
#A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets{}.
thisset = {"mango", "apple", "banana"}
print(thisset)

{'banana', 'apple', 'mango'}

In [20]:
#Access items
for i in thisset:
  print(i)

banana
apple
mango

In [21]:
#Add items.
thisset.add('cherry')
print(thisset)

{'banana', 'apple', 'mango', 'cherry'}

In [22]:
#Update items.
thisset.update(['pineapple','litchi'])
print(thisset)

{'cherry', 'litchi', 'banana', 'apple', 'pineapple', 'mango'}

In [23]:
#Length of set.
a=len(thisset)
print(a)

6

In [24]:
#Remove items
thisset.remove('banana')
print(thisset)

{'cherry', 'litchi', 'apple', 'pineapple', 'mango'}

# Tuples & its default functions

In [25]:
#It is an ordered collection of elements enclosed with()
#Tuples are immutable.

In [27]:
T=(1,True,2.76,1+2j)
print(T)

(1, True, 2.76, (1+2j))

In [29]:
#length of tuple
a=len(T)
print(a)

4

In [30]:
#Concatenating Tuples
T1=(2,3,4)
b=T+T1
print(b)

(1, True, 2.76, (1+2j), 2, 3, 4)

In [31]:
#Repeating tuple elements
c=T*3
print(c)

(1, True, 2.76, (1+2j), 1, True, 2.76, (1+2j), 1, True, 2.76, (1+2j))

In [32]:
#Minimum value in a tuple
T2=(1,2,3,-1,-11,-10000)
d=min(T2)
print(d)

-10000

In [33]:
#Maximum value in a tuple
e=max(T2)
print(e)

3

# String & its methods

In [34]:
#String literals in python are surrounded by either single quotation marks, or double quotation marks.
a="Hi, this is Shivangi. Learning to write codes in python"
print(a)

Hi, this is Shivangi. Learning to write codes in python

In [36]:
#Slicing a letter from a particular string
b=a[1:3]
print(b)

i,

In [38]:
#String in uppercase
print(a.upper())

HI, THIS IS SHIVANGI. LEARNING TO WRITE CODES IN PYTHON

In [39]:
#Length of string
print(len(a))

55

In [40]:
#Strip method
print(a.strip())

Hi, this is Shivangi. Learning to write codes in python

In [41]:
#String in Lowercase
print(a.lower())

hi, this is shivangi. learning to write codes in python

In [42]:
#split into parts using a letter in the string
print(a.split(","))

['Hi', ' this is Shivangi. Learning to write codes in python']